.note{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note-body textarea{
    height: 50vh;
}

.readOnly{
    cursor: pointer;
}

.visible{

}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}