:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* MODO CLARO (Default) */
  --bg-color: #FDF3DD;
  --text-primary: #2C2C2C;
  --text-secondary: #F0F0F0;
  --accent-1: #A8DADC;
  --accent-2: #FFC1CC;
  --accent-3: #B39CD0;
  
  /* Tiempos de transición para que el cambio de modo sea suave */
  --transition-speed: 0.3s;
}

[data-theme='dark'] { /* MODO OSCURO */
  --bg-color: #1A1A1A;
  --text-primary: #F0F0F0;
  --text-secondary: #E4E4E4;
  --accent-1: #004D61;
  --accent-2: #822659;
  --accent-3: #3E5641;
}

a {
  font-weight: 500;
  color: var(--accent-2);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-3);
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */

  background-color: var(--bg-color);
  color: var(--text-primary);
  transition: background-color var(--transition-speed), color var(--transition-speed);
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--text-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-3);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--accent-1);
    background-color: var(--bg-color);
  }
  a:hover {
    color: var(--text-primary);
  }
  button {
    background-color: var(--accent-1);
  }
}
